@media screen and (max-width: 1024px) {
	#bloc_page {
		width: auto;
	}

	#titre_principal {
		width: 100%;
	}

	nav {
		display: none;
	}

	aside {
		background-color: white ;
		width: 94%;
	}

	aside h2 {
		background-color: white;
		color: black;
	}

	article {
		width: 94%;
	}

	section {
		flex-direction: column;
		padding-bottom: 25px;
	}


	#loisirs {
		display: none;
	}

	.recommandations {
		width: 94%;
	}
}
