@media screen and (max-width: 1024px) {
	#bloc_page {
		width: auto;
	}

	#titre_principal {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	header {
		flex-direction: column;
	}

	nav {
		width: 100%;
	}


	#bloc_page aside{
		order: 3;
	}

	aside {
		width: 100%;
	}

	aside h2 {
		background-color: #263238;
		color: #FFB600;
	}

	article {
		width: 94%;
	}

	section {
		flex-direction: column;
	}

	.dates {
		margin: 0px 0px 10px 0px;
	}

	.text {
		margin-bottom: 10px;
	}


	#loisirs {
		width: 100%;
		padding-top: 15px;
	}

	.recommandations {
		display: none;
	}
	
	
}
