@font-face {
    font-family: 'open_sansregular';
    src: url('Polices/opensans-regular-webfont.woff2') format('woff2'),
         url('Polices/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'open_sansregular';
}

#bloc_page {
	width: 900px;
	display: flex;
	flex-direction: column;
	margin: auto;
	border: 1px solid red;
}

header {
	display: flex;
	border: 1px solid red;
}

nav {
	background: #FFB600;
	width: 26%;
	text-align: center;
	border: 1px solid red;
}

nav img {
	padding: 35px 0px 25px 0px;
}

header h1 {
	margin-bottom: 0px; 
	padding-left: 25px;
	font-size: 2.4em;
	text-transform: uppercase;
}

header h2 {
	margin-top: 0px;
	padding : 0px 0px 0px 25px;
	font-size: 1.2em;
}

#titre_principal {
	font-weight: normal;
	width: 74%;
	border: 1px solid red;
	padding-top: 35px;
}

section {
	display: flex;
	border: 1px solid red;
}

section p {
	font-size: 0.8em;
}

section h2, footer h2 {
	border-bottom: 1px solid #FFB600;
}

.formation i, #experience_pro i, #recommandations i {
	color: #FFB600; 
}

aside {
	width: 26%;
	background-color: #FFB600;
}

aside h2 {
	background-color: black;
	color: #FFB600;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0px 5px 0px;
}

aside p {
	font-size: 0.8em;
	padding-left: 25px;
	padding-right: 25px;
}

.formation {
	width: 71%;
	padding-left: 25px;
	border: 1px solid red;
}

.formation h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.formation i {
	font-size: 1.2em;
	padding-right: 10px;
}

.formation p {
	font-size: 0.8em;
}

#article {
	display: flex;
	border: 1px solid red;
}

.dates {
	margin-right: 15px;
	flex: 1;
	border: 1px solid red;
}

.text {
	margin: 15px 0px 0px 25px;
	flex:2;
	border: 1px solid red;
}


#experience_pro {
	flex: 3.2;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid red;
}

 #experience_pro h2 {
 	margin-left: 25px;
 	padding-bottom: 10px;
 	width: 100%;
 	font-size: 1.2em;
 	text-transform: uppercase;
}

#experience_pro i {
	font-size: 1.2em;
	padding-right: 10px;
}

#second_article {
	display: flex;
	padding-left: 25px;
	width: 100%;
	margin-bottom: 40px;
	border: 1px solid red;
}

.article_top {
	margin-bottom: 30px;
	border: 1px solid red;
}

.aside_top {
	padding-bottom: 25px;
	border: 1px solid red;
}

.article_mid {
	margin-bottom: 80px;
	border: 1px solid red;
}

.aside_mid {
	padding-bottom: 25px;
	border: 1px solid red;
}

.text p {
	margin: 5px 0px 0px 0px;
}

#about_me {
	background-color: #FFB600;
	border: 1px solid red;
}

#about_me h2 {
	padding-left: 0px;
	background-color: black;
	color: #FFB600;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 5px 0px 5px 0px;
}

#about_me p {
	text-align: center;
	padding: 25px;
}

footer {
	display: flex;
	border: 1px solid red;
}

#loisirs {
	width: 26%;
	background-color: #FFB600;
	text-align: center;
	padding-top: 25px;
	border: 1px solid red;
}

#loisirs h2 {
	background-color: black;
	color: #FFB600;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 5px 0px 5px 0px;
}

#loisirs i {
	font-size: 2.5em;
	padding: 5px 5px 5px 5px;
	font-weight: normal;
}

#recommandations {
	width: 71%;
	padding-left: 25px;
	border: 1px solid red;
}

#recommandations h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	padding-bottom: 10px;
}

#recommandations i {
	font-size: 1.2em;
	padding-right: 10px;
}

#recommandations p {
	font-size: 0.8em;
}

#element {
	display: flex;
	border: 1px solid red;
}

#element p {
	flex: 1;
}


.titre {
	font-size: 0.7em;
}

.jaune {
	color: #FFB600;
}


.upper {
	text-transform: uppercase;
}

.point {
	color: #FFB600;
	font-size: 0.4em;
}

.gras {
	font-weight: bold;
}

.souligné {
	border-bottom: 1px solid #FFB600;
}
