@font-face {
    font-family: 'open_sansregular';
    src: url('Polices/opensans-regular-webfont.woff2') format('woff2'),
         url('Polices/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'open_sansregular';
}

#bloc_page {
	width: 900px;
}

header {
	display: flex;
}

nav {
	padding: 45px 25px 25px 25px;
	background: #FFB600;
	flex:0.8;
	text-align: center;
}

header h1 {
	margin-bottom: 0px; 
	padding : 45px 0px 0px 25px;
}

header h2 {
	margin-top: 0px;
	padding : 0px 0px 0px 25px;
}

#titre_principal {
	font-size: 1.1em;
	font-weight: normal;
	flex: 3;
}

#first_section {
	display: flex;
}

#contact {
	flex: 1.205;
	background-color: #FFB600;
}

#contact h2 {
	padding-left: 0px;
	background-color: black;
	color: #FFB600;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

#contact p {
	font-size: 0.8em;
	padding-left: 25px;
}

#formation {
	flex: 3.4;
	padding-left: 25px;
}

#formation h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

#formation p {
	font-size: 0.8em;
}

#article {
	display: flex;
}

.dates {
	margin-right: 15px;
	flex: 1;
}

.text {
	margin: 15px 0px 0px 25px;
	flex:2;
}


#second_section {
	display: flex;
}

#second_section p {
	font-size: 0.8em;
}

#about_me {
	flex: 1.09;
}

#experience_pro {
	flex: 3.2;
	display: flex;
	flex-wrap: wrap;
}

 #experience_pro h2 {
 	padding-left: 25px;
 	width: 100%;
 	font-size: 1.2em;
 	text-transform: uppercase;
}

#second_article {
	display: flex;
	padding-left: 25px;
	width: 100%;
	margin-bottom: 40px;
}

.article_top {
	margin-bottom: 30px;
}

.aside_top {
	padding-bottom: 25px;
}

.article_mid {
	margin-bottom: 80px;
}

.aside_mid {
	padding-bottom: 25px;
}

.text p {
	margin: 5px 0px 0px 0px;
}

#about_me {
	background-color: #FFB600;
}

#about_me h2 {
	padding-left: 0px;
	background-color: black;
	color: #FFB600;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

#about_me p {
	text-align: center;
	padding: 25px;
}

footer {
	display: flex;
}

#loisirs {
	flex: 1.03;
	background-color: #FFB600;
	text-align: center;
	padding-top: 25px;
}

#loisirs h2 {
	background-color: black;
	color: #FFB600;
	font-size: 1.2em;
	text-transform: uppercase;
}

#loisirs i {
	font-size: 2.5em;
	padding: 5px 5px 5px 5px;
	font-weight: normal;
}

#recommandations {
	flex: 2.9;
	padding-left: 25px;
}

#recommandations h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

#recommandations p {
	font-size: 0.8em;
}

#element {
	display: flex;
}

#element_1 {
	flex: 1;
}

#element_2 {
	flex: 1;
}


.titre {
	font-size: 0.7em;
}

.jaune {
	color: #FFB600;
}

.souligné {
	border-bottom: 1px solid #FFB600;
}

.upper {
	text-transform: uppercase;
}

.point_cercle {
	color: #FFB600;
	font-size: 
}

.point {
	color: #FFB600;
	font-size: 0.4em;
}

.gras {
	font-weight: bold;
}