@font-face {
    font-family: 'open_sansregular';
    src: url('Polices/opensans-regular-webfont.woff2') format('woff2'),
         url('Polices/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'open_sansregular';
}

#bloc_page {
	width: 900px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

header {
	display: flex;
}

nav {
	background: #FFB600;
	width: 26%;
	text-align: center;
}

nav img {
	padding: 35px 0px 25px 0px;
}


header h1 {
	margin-bottom: 0px; 
	padding-left: 25px;
	font-size: 2.4em;
	text-transform: uppercase;
}

header h2 {
	margin-top: 0px;
	padding : 0px 0px 0px 25px;
	border-bottom: 0;
	text-transform: none;
}

h2 {
	text-transform: uppercase;
	border-bottom: 1px solid #FFB600;
	width: 90%;
	font-size: 1.2em;
}

#titre_principal {
	font-weight: normal;
	width: 74%;
	padding-top: 35px;
}


section {
	display: flex;
	flex-wrap: wrap;
}

p {
	font-size: 0.8em;
}

i {
	color: #FFB600; 
}


aside {
	width: 26%;
	background-color: #FFB600;
}

aside h2, #loisirs h2 {
	background-color: #263238;
	color: #FFB600;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0px 5px 0px;
	width: 100%;
}

aside p {
	padding-left: 25px;
	padding-right: 25px;
}

article {
	width: 70%;
	padding: 15px 0px 20px 25px;
}

.recommandations {
	width: 71%;
	padding: 15px 0px 20px 25px;
}

article p {
	padding-top: 0px;
}

article i {
	padding-right: 10px;
	padding-left: 5px;
	border: 1px solid red;
}

.article {
	display: flex;
	flex-wrap: wrap;
}

.dates {
	width: 30%;
	display: flex;
}

.text {
	width: 69%;
}

.point_cercle {
	margin-top: 10px;
}

.point {
	margin-top: 18px;
}

footer {
	display: flex;
}

#loisirs {
	width: 26%;
	background-color: #FFB600;
	text-align: center;
	padding-top: 55px;
}

#loisirs i {
	font-size: 2.5em;
	padding: 5px 0px 5px 0px;
	font-weight: normal;
	color: #263238;
}

#loisirs p {
	display: flex;
	justify-content: space-around;
}

.recommandations {
	width: 71%;
}

.recommandations i {
	font-size: 1.2em;
	padding-right: 10px;
}

.recommandations p {
	font-size: 0.8em;
}

.element {
	display: flex;
}

.element p {
	flex: 1;
}


.jaune {
	color: #FFB600;
}

.upper {
	text-transform: uppercase;
}

.point {
	color: #FFB600;
	font-size: 0.4em;
}

.gras {
	font-weight: bold;
}

.souligné {
	border-bottom: 1px solid #FFB600;
}

.cadre_rouge {
	border: 1px solid red;
}